*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  overflow-x: hidden

$base-color: #ddf9f7
$colorHover: #303e66
//$colorHover: #000000
$colorIcons: #242f4d

.images
  margin: 0 auto
  max-width: 100%
  background-size: 100%
  width: 2000px
  display: block
  overflow: hidden
  height: 100%
  position: absolute
  z-index: 1


.main
  display: flex
  justify-content: center
  background-color: white
  overflow: hidden
  position: fixed
  top: 0
  z-index: 2
  width: 100%


.main .col0-0
  display: flex
  justify-content: center
  //flex: auto
  width: 30%


.main
  .fa
    display: none


.logo
  img
    max-width: 225px
    margin-left: 5px


.col1-1
  display: flex
  justify-content: flex-end
  margin-top: 37px
  width: 70%
  font-family: 'Trebuchet MS'
  flex: 0 0 60%

  .col1
    flex: 0 0 20%

  .col2
    flex: 0 0 13%

  .col3
    flex: 0 0 16%

  .col4
    flex: 0 0 15%

  .co
    margin-bottom: 2px


.col1-1
  a
    list-style: none
    text-decoration: none
    color: $colorIcons
    font-size: 25px

    &:hover
      color: #276263


/*mobile version/*

@media (max-width: 980px)

  .main
    justify-content: center
    //overflow: hidden
    //position: fixed
    top: 0
    flex-direction: column

  .main .col0-0

    justify-content: center
    //flex: auto
    width: 100%
  .logo
    img
      max-width: 100%


  .col1-1
    justify-content: center
    margin-top: 10px
    width: 100%
    flex: 0 0 25%

    a
      font-size: 10px

/* end mobile version -header ------slider desktop */

.images
  img
    width: 60vw
    position: relative
    left: 50%
    transform: translateX(-50%)
    max-width: 100%
    height: auto

.images
  .img1
    width: 1550px
    height: 500px


.images
  .img2

    width: 1550px
    height: 500px

.images
  .img3
    width: 1550px
    height: 500px

.images
  .img4
    width: 1550px
    height: 500px


.images
  .img5
    width: 1150px
    height: 150px


.aboutUs
  justify-content: center
  margin-top: 3%
  margin-bottom: 2%

  h1
    font-family: 'Trebuchet MS'
    text-align: center
    font-size: 50px
    color: rgb(1, 72, 113)
    -webkit-background-clip: text

  h2
    margin-top: 1%
    font-family: 'Trebuchet MS'
    text-align: center
    font-size: 30px
    color: rgb(1, 72, 113)
    -webkit-background-clip: text
    margin-bottom: 1%


  ul
    li
      font-family: Consolas, monaco, monospace
      line-height: 30px
      list-style: none
      text-align: justify
      text-justify: inter-word


.aboutUs
  li
    &:before
      content: ""
      display: inline-block
      height: 15px
      width: 15px
      margin-right: 7px
      background-color: #2b81af
      -webkit-mask-image: url("fan-solid.svg")
      -webkit-mask-size: cover


.offer

  .offerDescribe

    font-weight: bold
    font-family: Consolas, monaco, monospace
    font-size: 50px
    color: #0d3349
    text-align: center

  .mainCol
    display: flex
    justify-content: center
    font-family: Consolas, monaco, monospace
    margin-bottom: 30px


    .col
      margin-right: 2%
      margin-top: 1%
      flex: 0 0 30%
      text-align: center
      font-family: Consolas, monaco, monospace

      .col1
        font-family: Consolas, monaco, monospace

      .describe
        //text-align: center
        text-align: justify
        text-justify: inter-word
        font-family: Consolas, monaco, monospace
        color: #0d3349

      .title
        font-size: 20px
        font-weight: bold
        font-family: Consolas, monaco, monospace
        color: #0d3349


@media (max-width: 980px)
  .offer
    .mainCol
      display: flex
      flex-direction: column


@media (max-width: 980px)
  .images
    .img1
      width: 1150px
      height: 150px


footer
  margin-top: 30px

.col-1-2
  .icon
    font-size: 30px
    margin-left: 15px


.certificates
  img
    margin: 0 auto
    max-width: calc(100% - 20px)
    height: 50%
    width: 50%
    background-size: cover


  p
    text-align: center
    font-family: Consolas, monaco, monospace
    font-weight: bold

.void
  margin-bottom: 30px
  font-family: Consolas, monaco, monospace
  color: #0d3349
  font-size: 40px
  font-weight: bold
  display: flex
  text-align: center
  justify-content: center

@media (max-width: 980px)
  .certificates
    img
      height: auto
      width: auto

