* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

@media (max-width: 980px) {
  html {
    overflow-x: hidden;
  }
}
.images {
  margin: 0 auto;
  max-width: 100%;
  background-size: 100%;
  width: 2000px;
  display: block;
  overflow: hidden;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.main {
  display: flex;
  justify-content: center;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.main .main__col0 {
  display: flex;
  justify-content: center;
  width: 30%;
}

.main .fa {
  display: none;
}

.main__col0--logo img {
  max-width: 225px;
  margin-left: 5px;
}

.main__col1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 37px;
  width: 70%;
  font-family: "Trebuchet MS";
  flex: 0 0 60%;
}
.main__col1 .main__col1--1 {
  flex: 0 0 20%;
}
.main__col1 .main__col1--2 {
  flex: 0 0 13%;
}
.main__col1 .main__col1--3 {
  flex: 0 0 16%;
}
.main__col1 .main__col1--4 {
  flex: 0 0 15%;
}
.main__col1 .main__col1--col {
  margin-bottom: 2px;
}

.main__col1 a {
  list-style: none;
  text-decoration: none;
  color: #014871;
  font-size: 25px;
}
.main__col1 a:hover {
  color: #276263;
}

/*mobile version header/* */
@media (max-width: 980px) {
  .main {
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    flex-direction: column;
    z-index: 2;
  }

  .main .main__col0 {
    justify-content: center;
    width: 100%;
  }

  .main__col0--logo img {
    max-width: 100%;
  }

  .main__col1 {
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    flex: 0 0 25%;
  }
  .main__col1 a {
    font-size: 10px;
  }
}
/* end mobile version -header ------slider desktop */
.images {
  margin-top: 5%;
}
.images img {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  height: auto;
}

.images .certificates__img1 {
  width: 1550px;
  height: 500px;
}

.images .images__img1 {
  width: 1550px;
  height: 500px;
}

.images .images__img2 {
  width: 1550px;
  height: 500px;
}

.images .images__img3 {
  width: 1550px;
  height: 500px;
}

.images .img5 {
  width: 1150px;
  height: 500px;
}

@media (max-width: 980px) {
  .images {
    margin-top: 40%;
  }
  .images .images__img1 {
    width: 100%;
    height: 250px;
  }
  .images .images__img2 {
    width: 100%;
    height: 100%;
  }
  .images .images__img3 {
    width: 100%;
    height: 100%;
  }
  .images .certificates__img1 {
    width: 100%;
    height: 100%;
  }
}
/*section About desktop and mobile*/
.aboutUs {
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 0 15px;
}
.aboutUs h1 {
  text-align: center;
  font-size: 50px;
  color: #014871;
  -webkit-background-clip: text;
}
.aboutUs h2 {
  margin-top: 1%;
  text-align: center;
  font-size: 30px;
  color: #014871;
  -webkit-background-clip: text;
  margin-bottom: 1%;
}
.aboutUs p {
  line-height: 30px;
  list-style: none;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 10px;
  flex: 0 0 45%;
}
@media (min-width: 980px) {
  .aboutUs .aboutUs__text {
    display: flex;
    justify-content: space-around;
  }
}

.aboutUs p:before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 7px;
  background-image: url("fan-solid.svg");
}

/*   */
.offer img {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
}
.offer .offerDescribe {
  font-weight: bold;
  font-family: Consolas, monaco, monospace;
  font-size: 50px;
  color: #014871;
  text-align: center;
}
.offer .offer__columns {
  display: flex;
  justify-content: center;
  font-family: Consolas, monaco, monospace;
  margin-bottom: 30px;
}
.offer .offer__columns .offer__columns--col {
  margin-right: 2%;
  margin-top: 1%;
  flex: 0 0 30%;
  text-align: center;
  font-family: Consolas, monaco, monospace;
}
.offer .offer__columns .offer__columns--col .main__col1--1 {
  font-family: Consolas, monaco, monospace;
}
.offer .offer__columns .offer__columns--col .describe {
  text-align: justify;
  text-justify: inter-word;
  font-family: Consolas, monaco, monospace;
  color: #014871;
}
.offer .offer__columns .offer__columns--col .title {
  font-size: 20px;
  font-weight: bold;
  font-family: Consolas, monaco, monospace;
  color: #014871;
}

@media (max-width: 980px) {
  .offer .offer__columns {
    display: flex;
    flex-direction: column;
  }
  .offer img {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 980px) {
  .images .certificates__img1 {
    width: 1150px;
    height: 150px;
  }
}
footer {
  margin-top: 30px;
}

.col-1-2 .icon {
  font-size: 30px;
  margin-left: 15px;
}

.certificates img {
  margin: 0 auto;
  max-width: calc(100% - 20px);
  max-width: 100%;
  height: 50%;
  width: 50%;
  background-size: cover;
}
.certificates p {
  text-align: center;
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
}

.void {
  margin-bottom: 30px;
  font-family: Consolas, monaco, monospace;
  color: #014871;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (max-width: 980px) {
  .certificates img {
    height: auto;
    width: auto;
    max-width: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
