
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 23%;
    bottom: 0;
    left: -12%;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 0px;
    height: 0px;
    position: relative;
    margin: 1% auto;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);}



#openModal1 img  {
    width: 500px;
    height:auto;
}

#openModal2 img  {
    width: 500px;
    height:auto;

}
#openModal3 img  {
    width: 500px;
    height:auto;

}
#openModal4 img  {
    width: 500px;
    height:auto;

}
#openModal5 img  {
    width: 500px;
    height:auto;
}
#openModal6 img  {
    width: 500px;
    height:auto;
}
#openModal7 img  {
    width: 500px;
    height:auto;
}
#openModal8 img  {
    width: 500px;
    height:auto;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #434444;
}

@media (max-width: 980px) {
    .modalDialog {
        display: none;

    }
}


